In [ ]:
import os
import pandas as pd
import numpy as np
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
#print ('Mongo version' pymongo.__version__)
client = MongoClient('localhost', 27017)
## Identifier la base de données 
db = client.test
## Assigner la collection correspondante à cette base de données
collection = db.restaurants

In [2]:
#mongo "db.version()" ANY

In [3]:
print(client.list_database_names())

['admin', 'config', 'local', 'patient_data', 'test']

In [6]:
test = client['test']

In [7]:
print(test.list_collection_names())

['restaurants', 'neighborhoods']

In [8]:
collection.find_one()

{'_id': ObjectId('55cba2476c522cafdb053ade'),
 'location': {'coordinates': [-73.961704, 40.662942], 'type': 'Point'},
 'name': "Wendy'S"}

In [9]:
from pymongo import MongoClient,ASCENDING,DESCENDING
client = MongoClient("mongodb://localhost:27017")
dbnames = [dbname for dbname in client.database_names() ]
print("Available databases: <" + str(dbnames))

Available databases: <['admin', 'config', 'local', 'patient_data', 'test']

/Users/garbamoussa/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: database_names is deprecated. Use list_database_names instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
cursor = collection.find()
print()
print("Number of documents in restaurant collection: " + str( cursor.count() ))
N=4
print("1st {} documents:".format(N))
for document in cursor.limit(N):
    print(document)

Number of documents in restaurant collection: 25359
1st 4 documents:
{'_id': ObjectId('55cba2476c522cafdb053ade'), 'location': {'coordinates': [-73.961704, 40.662942], 'type': 'Point'}, 'name': "Wendy'S"}
{'_id': ObjectId('55cba2476c522cafdb053add'), 'location': {'coordinates': [-73.856077, 40.848447], 'type': 'Point'}, 'name': 'Morris Park Bake Shop'}
{'_id': ObjectId('55cba2476c522cafdb053ae0'), 'location': {'coordinates': [-73.8601152, 40.7311739], 'type': 'Point'}, 'name': 'Tov Kosher Kitchen'}
{'_id': ObjectId('55cba2476c522cafdb053ae1'), 'location': {'coordinates': [-73.8803827, 40.7643124], 'type': 'Point'}, 'name': 'Brunos On The Boulevard'}

/Users/garbamoussa/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
cursor = collection.find().sort([ ('date', ASCENDING) ])
print()
print("Number of documents in restaurant collection: " + str( cursor.count() ))
N=4
print("1st {} documents: ORDERED by ASCENDING date".format(N))
for document in cursor.limit(N):
    print(document)

Number of documents in restaurant collection: 25359
1st 4 documents: ORDERED by ASCENDING date
{'_id': ObjectId('55cba2476c522cafdb053ade'), 'location': {'coordinates': [-73.961704, 40.662942], 'type': 'Point'}, 'name': "Wendy'S"}
{'_id': ObjectId('55cba2476c522cafdb053add'), 'location': {'coordinates': [-73.856077, 40.848447], 'type': 'Point'}, 'name': 'Morris Park Bake Shop'}
{'_id': ObjectId('55cba2476c522cafdb053ae0'), 'location': {'coordinates': [-73.8601152, 40.7311739], 'type': 'Point'}, 'name': 'Tov Kosher Kitchen'}
{'_id': ObjectId('55cba2476c522cafdb053ae1'), 'location': {'coordinates': [-73.8803827, 40.7643124], 'type': 'Point'}, 'name': 'Brunos On The Boulevard'}

/Users/garbamoussa/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [123]:
#collection.drop()
# /Users/garbamoussa/Desktop/restaurants.json
# /Users/garbamoussa/Desktop/neighborhoods.json
#os.system('mongoimport -d test -c restautants restaurants.json')

In [174]:
# Afficher toutes les données de la base de données
## cursor est un itérator permettant de créer une liste, après la création de cette liste l'itérator est épuisée
#cursor = collection.find()
cursor = collection.find().sort('zipcode',pymongo.ASCENDING)
#for doc in cursor:
 #   print (doc)

In [205]:
cursor = list(cursor)
#cursor

In [176]:
#cursorResult = collection.aggregate(cursor) # returns a cursor

In [12]:
#cursorResult = collection.aggregate(cursor) # returns a cursor
#cursor = pd.DataFrame(list(cursorResult)) 

data_frame_cursor = pd.DataFrame(cursor) 
data_frame_cursor = data_frame_cursor.set_index("_id")

KeyError: "None of ['_id'] are in the columns"

In [13]:
data_frame_cursor.head()

Empty DataFrame
Columns: []
Index: []

In [197]:
pipeline = [
        {"$group": {"_id":"$_id",
             "AvgScore":{"$avg":"$Score"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgScore":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor
df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
#df1 = df1.set_index("_id")
df1.head()

  AvgScore  Count                       _id
0     None      1  55cba2476c522cafdb054a72
1     None      1  55cba2476c522cafdb053d8a
2     None      1  55cba2476c522cafdb058025
3     None      1  55cba2476c522cafdb058fae
4     None      1  55cba2476c522cafdb0568ff

In [198]:
pipeline = [
        {"$match": {"name":"Morris Park Bake Shop"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,location,name
0,55cba2476c522cafdb053add,"{'coordinates': [-73.856077, 40.848447], 'type...",Morris Park Bake Shop

In [200]:
pipeline = [
        {"$match": {"name":"Wilken'S Fine Food"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,location,name
0,55cba2476c522cafdb053ae3,"{'coordinates': [-73.9068506, 40.6199034], 'ty...",Wilken'S Fine Food

In [201]:
df2.dtypes

_id         object
location    object
name        object
dtype: object

In [202]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
_id         1 non-null object
location    1 non-null object
name        1 non-null object
dtypes: object(3)
memory usage: 104.0+ bytes

In [203]:
type(df2)

pandas.core.frame.DataFrame

In [204]:
pipeline = [
        {"$match": {"cuisine":"Chinese"}},
]
aggResult = collection.aggregate(pipeline)
df3 = pd.DataFrame(list(aggResult))
df3.head()

Empty DataFrame
Columns: []
Index: []

In [195]:
import folium
#print 'Folium version', folium.__version__

world_map = folium.Map(location=[35, 100], 
                    zoom_start=4)
#for i in range(len(df2)):
    #world_map.simple_marker(location=df2.Location[i].split(','), popup=df2.Name[i]+', borough:'+str(df2.borough[i]))
    
world_map

In [194]:
import folium
#print 'Folium version', folium.__version__

world_map = folium.Map(location=[35, 100], 
                    zoom_start=4)
folium.Marker([35, 100], popup='London Bridge').add_to(world_map)
world_map

In [188]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')

with client:
    
    db = client.test
    print(db.collection_names())

['restaurants']

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.

In [189]:
from pymongo import MongoClient
from pprint import pprint

client = MongoClient('mongodb://localhost:27017/')

with client:
    
    db = client.test

    status = db.command("serverStatus")
    pprint(status)

{'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 11, 'warning': 0},
 'connections': {'active': 1,
                 'available': 186,
                 'current': 18,
                 'totalCreated': 349},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 130},
 'flowControl': {'enabled': True,
                 'isLagged': False,
                 'isLaggedCount': 0,
                 'isLaggedTimeMicros': 0,
                 'locksPerOp': 0.0,
                 'sustainerRate': 0,
                 'targetRateLimit': 1000000000,
                 'timeAcquiringMicros': 0},
 'freeMonitoring': {'state': 'undecided'},
 'globalLock': {'activeClients': {'readers': 0, 'total': 0, 'writers': 0},
                'currentQueue': {'readers': 0, 'total': 0, 'writers': 0},
                'totalTime': 9902814000},
 'host': 'MBP-de-GARBA',
 'localTime': datetime.datetime(2019, 9, 1, 23, 47, 54, 762000),
 'locks': {'Collection': {'acquireCount': {'R': 1,
                                           'W': 3,
                                           'r': 10059,
                                           'w': 644}},
           'Database': {'acquireCount': {'W': 7, 'r': 9995, 'w': 645}},
           'Global': {'acquireCount': {'W': 4, 'r': 29797, 'w': 651}},
           'Mutex': {'acquireCount': {'r': 26727}},
           'ParallelBatchWriterMode': {'acquireCount': {'r': 895}},
           'ReplicationStateTransition': {'acquireCount': {'w': 30452}}},
 'logicalSessionRecordCache': {'activeSessionsCount': 1,
                               'lastSessionsCollectionJobCursorsClosed': 0,
                               'lastSessionsCollectionJobDurationMillis': 2,
                               'lastSessionsCollectionJobEntriesEnded': 1,
                               'lastSessionsCollectionJobEntriesRefreshed': 3,
                               'lastSessionsCollectionJobTimestamp': datetime.datetime(2019, 9, 1, 23, 47, 52, 723000),
                               'lastTransactionReaperJobDurationMillis': 0,
                               'lastTransactionReaperJobEntriesCleanedUp': 0,
                               'lastTransactionReaperJobTimestamp': datetime.datetime(2019, 9, 1, 23, 47, 52, 726000),
                               'sessionCatalogSize': 0,
                               'sessionsCollectionJobCount': 34,
                               'transactionReaperJobCount': 34},
 'mem': {'bits': 64, 'resident': 48, 'supported': True, 'virtual': 5469},
 'metrics': {'commands': {'<UNKNOWN>': 0,
                          '_addShard': {'failed': 0, 'total': 0},
                          '_cloneCatalogData': {'failed': 0, 'total': 0},
                          '_cloneCollectionOptionsFromPrimaryShard': {'failed': 0,
                                                                      'total': 0},
                          '_configsvrAddShard': {'failed': 0, 'total': 0},
                          '_configsvrAddShardToZone': {'failed': 0, 'total': 0},
                          '_configsvrBalancerStart': {'failed': 0, 'total': 0},
                          '_configsvrBalancerStatus': {'failed': 0, 'total': 0},
                          '_configsvrBalancerStop': {'failed': 0, 'total': 0},
                          '_configsvrCommitChunkMerge': {'failed': 0,
                                                         'total': 0},
                          '_configsvrCommitChunkMigration': {'failed': 0,
                                                             'total': 0},
                          '_configsvrCommitChunkSplit': {'failed': 0,
                                                         'total': 0},
                          '_configsvrCommitMovePrimary': {'failed': 0,
                                                          'total': 0},
                          '_configsvrCreateCollection': {'failed': 0,
                                                         'total': 0},
                          '_configsvrCreateDatabase': {'failed': 0, 'total': 0},
                          '_configsvrDropCollection': {'failed': 0, 'total': 0},
                          '_configsvrDropDatabase': {'failed': 0, 'total': 0},
                          '_configsvrEnableSharding': {'failed': 0, 'total': 0},
                          '_configsvrMoveChunk': {'failed': 0, 'total': 0},
                          '_configsvrMovePrimary': {'failed': 0, 'total': 0},
                          '_configsvrRemoveShard': {'failed': 0, 'total': 0},
                          '_configsvrRemoveShardFromZone': {'failed': 0,
                                                            'total': 0},
                          '_configsvrShardCollection': {'failed': 0,
                                                        'total': 0},
                          '_configsvrUpdateZoneKeyRange': {'failed': 0,
                                                           'total': 0},
                          '_flushDatabaseCacheUpdates': {'failed': 0,
                                                         'total': 0},
                          '_flushRoutingTableCacheUpdates': {'failed': 0,
                                                             'total': 0},
                          '_getNextSessionMods': {'failed': 0, 'total': 0},
                          '_getUserCacheGeneration': {'failed': 0, 'total': 0},
                          '_isSelf': {'failed': 0, 'total': 0},
                          '_mergeAuthzCollections': {'failed': 0, 'total': 0},
                          '_migrateClone': {'failed': 0, 'total': 0},
                          '_movePrimary': {'failed': 0, 'total': 0},
                          '_recvChunkAbort': {'failed': 0, 'total': 0},
                          '_recvChunkCommit': {'failed': 0, 'total': 0},
                          '_recvChunkStart': {'failed': 0, 'total': 0},
                          '_recvChunkStatus': {'failed': 0, 'total': 0},
                          '_shardsvrShardCollection': {'failed': 0, 'total': 0},
                          '_transferMods': {'failed': 0, 'total': 0},
                          'abortTransaction': {'failed': 0, 'total': 0},
                          'aggregate': {'failed': 0, 'total': 23},
                          'appendOplogNote': {'failed': 0, 'total': 0},
                          'applyOps': {'failed': 0, 'total': 0},
                          'authenticate': {'failed': 0, 'total': 0},
                          'availableQueryOptions': {'failed': 0, 'total': 0},
                          'buildInfo': {'failed': 0, 'total': 8},
                          'checkShardingIndex': {'failed': 0, 'total': 0},
                          'cleanupOrphaned': {'failed': 0, 'total': 0},
                          'cloneCollection': {'failed': 0, 'total': 0},
                          'cloneCollectionAsCapped': {'failed': 0, 'total': 0},
                          'collMod': {'failed': 0, 'total': 0},
                          'collStats': {'failed': 0, 'total': 5},
                          'commitTransaction': {'failed': 0, 'total': 0},
                          'compact': {'failed': 0, 'total': 0},
                          'connPoolStats': {'failed': 0, 'total': 0},
                          'connPoolSync': {'failed': 0, 'total': 0},
                          'connectionStatus': {'failed': 0, 'total': 1},
                          'convertToCapped': {'failed': 0, 'total': 0},
                          'coordinateCommitTransaction': {'failed': 0,
                                                          'total': 0},
                          'count': {'failed': 0, 'total': 3},
                          'create': {'failed': 0, 'total': 0},
                          'createIndexes': {'failed': 0, 'total': 1},
                          'createRole': {'failed': 0, 'total': 0},
                          'createUser': {'failed': 0, 'total': 0},
                          'currentOp': {'failed': 0, 'total': 0},
                          'dataSize': {'failed': 0, 'total': 0},
                          'dbHash': {'failed': 0, 'total': 0},
                          'dbStats': {'failed': 0, 'total': 9},
                          'delete': {'failed': 0, 'total': 3},
                          'distinct': {'failed': 0, 'total': 0},
                          'driverOIDTest': {'failed': 0, 'total': 0},
                          'drop': {'failed': 0, 'total': 0},
                          'dropAllRolesFromDatabase': {'failed': 0, 'total': 0},
                          'dropAllUsersFromDatabase': {'failed': 0, 'total': 0},
                          'dropConnections': {'failed': 0, 'total': 0},
                          'dropDatabase': {'failed': 0, 'total': 0},
                          'dropIndexes': {'failed': 0, 'total': 0},
                          'dropRole': {'failed': 0, 'total': 0},
                          'dropUser': {'failed': 0, 'total': 0},
                          'endSessions': {'failed': 0, 'total': 3},
                          'explain': {'failed': 0, 'total': 0},
                          'features': {'failed': 0, 'total': 0},
                          'filemd5': {'failed': 0, 'total': 0},
                          'find': {'failed': 0, 'total': 85},
                          'findAndModify': {'failed': 0, 'total': 0},
                          'flushRouterConfig': {'failed': 0, 'total': 0},
                          'fsync': {'failed': 0, 'total': 0},
                          'fsyncUnlock': {'failed': 0, 'total': 0},
                          'geoSearch': {'failed': 0, 'total': 0},
                          'getCmdLineOpts': {'failed': 0, 'total': 2},
                          'getDatabaseVersion': {'failed': 0, 'total': 0},
                          'getDiagnosticData': {'failed': 0, 'total': 0},
                          'getFreeMonitoringStatus': {'failed': 0, 'total': 1},
                          'getLastError': {'failed': 0, 'total': 3},
                          'getLog': {'failed': 0, 'total': 1},
                          'getMore': {'failed': 0, 'total': 15},
                          'getParameter': {'failed': 0, 'total': 0},
                          'getShardMap': {'failed': 0, 'total': 0},
                          'getShardVersion': {'failed': 0, 'total': 0},
                          'getnonce': {'failed': 0, 'total': 0},
                          'grantPrivilegesToRole': {'failed': 0, 'total': 0},
                          'grantRolesToRole': {'failed': 0, 'total': 0},
                          'grantRolesToUser': {'failed': 0, 'total': 0},
                          'hostInfo': {'failed': 0, 'total': 1},
                          'insert': {'failed': 0, 'total': 27},
                          'invalidateUserCache': {'failed': 0, 'total': 0},
                          'isMaster': {'failed': 0, 'total': 6869},
                          'killAllSessions': {'failed': 0, 'total': 0},
                          'killAllSessionsByPattern': {'failed': 0, 'total': 0},
                          'killCursors': {'failed': 0, 'total': 0},
                          'killOp': {'failed': 0, 'total': 0},
                          'killSessions': {'failed': 0, 'total': 0},
                          'listCollections': {'failed': 0, 'total': 25},
                          'listCommands': {'failed': 0, 'total': 0},
                          'listDatabases': {'failed': 0, 'total': 29},
                          'listIndexes': {'failed': 2, 'total': 72},
                          'lockInfo': {'failed': 0, 'total': 0},
                          'logRotate': {'failed': 0, 'total': 0},
                          'logout': {'failed': 0, 'total': 0},
                          'mapReduce': {'failed': 0, 'total': 0},
                          'mapreduce': {'shardedfinish': {'failed': 0,
                                                          'total': 0}},
                          'mergeChunks': {'failed': 0, 'total': 0},
                          'moveChunk': {'failed': 0, 'total': 0},
                          'ping': {'failed': 0, 'total': 3},
                          'planCacheClear': {'failed': 0, 'total': 0},
                          'planCacheClearFilters': {'failed': 0, 'total': 0},
                          'planCacheListFilters': {'failed': 0, 'total': 0},
                          'planCacheListPlans': {'failed': 0, 'total': 0},
                          'planCacheListQueryShapes': {'failed': 0, 'total': 0},
                          'planCacheSetFilter': {'failed': 0, 'total': 0},
                          'prepareTransaction': {'failed': 0, 'total': 0},
                          'profile': {'failed': 0, 'total': 0},
                          'reIndex': {'failed': 0, 'total': 0},
                          'refreshSessions': {'failed': 0, 'total': 0},
                          'renameCollection': {'failed': 0, 'total': 0},
                          'repairCursor': {'failed': 0, 'total': 0},
                          'repairDatabase': {'failed': 0, 'total': 0},
                          'replSetAbortPrimaryCatchUp': {'failed': 0,
                                                         'total': 0},
                          'replSetFreeze': {'failed': 0, 'total': 0},
                          'replSetGetConfig': {'failed': 0, 'total': 0},
                          'replSetGetRBID': {'failed': 0, 'total': 0},
                          'replSetGetStatus': {'failed': 2, 'total': 2},
                          'replSetHeartbeat': {'failed': 0, 'total': 0},
                          'replSetInitiate': {'failed': 0, 'total': 0},
                          'replSetMaintenance': {'failed': 0, 'total': 0},
                          'replSetReconfig': {'failed': 0, 'total': 0},
                          'replSetRequestVotes': {'failed': 0, 'total': 0},
                          'replSetResizeOplog': {'failed': 0, 'total': 0},
                          'replSetStepDown': {'failed': 0, 'total': 0},
                          'replSetStepUp': {'failed': 0, 'total': 0},
                          'replSetSyncFrom': {'failed': 0, 'total': 0},
                          'replSetUpdatePosition': {'failed': 0, 'total': 0},
                          'resetError': {'failed': 0, 'total': 0},
                          'revokePrivilegesFromRole': {'failed': 0, 'total': 0},
                          'revokeRolesFromRole': {'failed': 0, 'total': 0},
                          'revokeRolesFromUser': {'failed': 0, 'total': 0},
                          'rolesInfo': {'failed': 0, 'total': 0},
                          'saslContinue': {'failed': 0, 'total': 0},
                          'saslStart': {'failed': 0, 'total': 0},
                          'serverStatus': {'failed': 0, 'total': 1},
                          'setFeatureCompatibilityVersion': {'failed': 0,
                                                             'total': 0},
                          'setFreeMonitoring': {'failed': 0, 'total': 0},
                          'setIndexCommitQuorum': {'failed': 0, 'total': 0},
                          'setParameter': {'failed': 0, 'total': 0},
                          'setShardVersion': {'failed': 0, 'total': 0},
                          'shardConnPoolStats': {'failed': 0, 'total': 0},
                          'shardingState': {'failed': 0, 'total': 0},
                          'shutdown': {'failed': 0, 'total': 0},
                          'splitChunk': {'failed': 0, 'total': 0},
                          'splitVector': {'failed': 0, 'total': 0},
                          'startRecordingTraffic': {'failed': 0, 'total': 0},
                          'startSession': {'failed': 0, 'total': 0},
                          'stopRecordingTraffic': {'failed': 0, 'total': 0},
                          'top': {'failed': 0, 'total': 0},
                          'touch': {'failed': 0, 'total': 0},
                          'twoPhaseCreateIndexes': {'failed': 0, 'total': 0},
                          'unsetSharding': {'failed': 0, 'total': 0},
                          'update': {'failed': 0, 'total': 21},
                          'updateRole': {'failed': 0, 'total': 0},
                          'updateUser': {'failed': 0, 'total': 0},
                          'usersInfo': {'failed': 0, 'total': 0},
                          'validate': {'failed': 0, 'total': 0},
                          'voteCommitIndexBuild': {'failed': 0, 'total': 0},
                          'whatsmyuri': {'failed': 0, 'total': 1}},
             'cursor': {'open': {'noTimeout': 0, 'pinned': 0, 'total': 0},
                        'timedOut': 0},
             'document': {'deleted': 0,
                          'inserted': 25554,
                          'returned': 383510,
                          'updated': 15},
             'getLastError': {'wtime': {'num': 0, 'totalMillis': 0},
                              'wtimeouts': 0},
             'operation': {'scanAndOrder': 39, 'writeConflicts': 0},
             'query': {'updateOneOpStyleBroadcastWithExactIDCount': 0},
             'queryExecutor': {'scanned': 102272, 'scannedObjects': 1124474},
             'record': {'moves': 0},
             'repl': {'apply': {'attemptsToBecomeSecondary': 0,
                                'batchSize': 0,
                                'batches': {'num': 0, 'totalMillis': 0},
                                'ops': 0},
                      'buffer': {'count': 0, 'maxSizeBytes': 0, 'sizeBytes': 0},
                      'executor': {'networkInterface': 'DEPRECATED: '
                                                       'getDiagnosticString is '
                                                       'deprecated in '
                                                       'NetworkInterfaceTL',
                                   'pool': {'inProgressCount': 0},
                                   'queues': {'networkInProgress': 0,
                                              'sleepers': 0},
                                   'shuttingDown': False,
                                   'unsignaledEvents': 0},
                      'initialSync': {'completed': 0,
                                      'failedAttempts': 0,
                                      'failures': 0},
                      'network': {'bytes': 0,
                                  'getmores': {'num': 0, 'totalMillis': 0},
                                  'notMasterLegacyUnacknowledgedWrites': 0,
                                  'notMasterUnacknowledgedWrites': 0,
                                  'ops': 0,
                                  'readersCreated': 0},
                      'stepDown': {'userOperationsKilled': 0,
                                   'userOperationsRunning': 0}},
             'ttl': {'deletedDocuments': 22, 'passes': 165}},
 'network': {'bytesIn': 7130650,
             'bytesOut': 74410770,
             'compression': {'snappy': {'compressor': {'bytesIn': 0,
                                                       'bytesOut': 0},
                                        'decompressor': {'bytesIn': 0,
                                                         'bytesOut': 0}},
                             'zlib': {'compressor': {'bytesIn': 0,
                                                     'bytesOut': 0},
                                      'decompressor': {'bytesIn': 0,
                                                       'bytesOut': 0}},
                             'zstd': {'compressor': {'bytesIn': 0,
                                                     'bytesOut': 0},
                                      'decompressor': {'bytesIn': 0,
                                                       'bytesOut': 0}}},
             'numRequests': 7087,
             'physicalBytesIn': 7130650,
             'physicalBytesOut': 74410770,
             'serviceExecutorTaskStats': {'executor': 'passthrough',
                                          'threadsRunning': 18}},

In [190]:
from pymongo import MongoClient
from pprint import pprint

client = MongoClient('mongodb://localhost:27017/')

with client:
    
    db = client.test
    print(db.collection_names())

    status = db.command("dbstats")
    pprint(status)

['restaurants']
{'avgObjSize': 252.27134695155357,
 'collections': 1,
 'dataSize': 6446542.0,
 'db': 'test',
 'fsTotalSize': 250685575168.0,
 'fsUsedSize': 136135819264.0,
 'indexSize': 483328.0,
 'indexes': 1,
 'numExtents': 0,
 'objects': 25554,
 'ok': 1.0,
 'scaleFactor': 1.0,
 'storageSize': 4587520.0,
 'views': 0}

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  if __name__ == '__main__':

In [191]:
#cars = db.test.find()

In [192]:
cars

NameError: name 'cars' is not defined

In [193]:
df2.head()

Empty DataFrame
Columns: []
Index: []

In [44]:
df2.tail()

,_id,address,borough,cuisine,grades,name,restaurant_id
2333,5c682d084f8f574fb5e15045,"{'building': '3505', 'coord': {'type': 'Point'...",Bronx,Other,[],,50018891
2334,5c682d084f8f574fb5e15049,"{'building': '556', 'coord': {'type': 'Point',...",Bronx,Other,[],,50018902
2335,5c682d084f8f574fb5e15052,"{'building': '600', 'coord': {'type': 'Point',...",Bronx,Other,[],,50018868
2336,5c682d084f8f574fb5e15055,"{'building': '689', 'coord': {'type': 'Point',...",Bronx,Other,[],187Th St Pizza,50018939
2337,5c682d084f8f574fb5e15056,"{'building': '2009', 'coord': {'type': 'Point'...",Bronx,Other,[],Subway,50018940

In [48]:
df3.tail()

,_id,address,borough,cuisine,grades,name,restaurant_id
2413,5c682d084f8f574fb5e14f79,"{'building': '5723', 'coord': {'type': 'Point'...",Brooklyn,Chinese,"[{'date': 2015-01-20 00:00:00, 'grade': 'Not Y...",Uncle Wang Chinese Food,50018450
2414,5c682d084f8f574fb5e14f84,"{'building': '108', 'coord': {'type': 'Point',...",Manhattan,Chinese,"[{'date': 2015-01-20 00:00:00, 'grade': 'Not Y...",Savour Sichuan,50018468
2415,5c682d084f8f574fb5e14f97,"{'building': '65', 'coord': {'type': 'Point', ...",Manhattan,Chinese,"[{'date': 2015-01-20 00:00:00, 'grade': 'Not Y...",Bubble Tea,50018503
2416,5c682d084f8f574fb5e14fa9,"{'building': '7706', 'coord': {'type': 'Point'...",Brooklyn,Chinese,"[{'date': 2015-01-20 00:00:00, 'grade': 'Not Y...",Orchid Dynasty Restaurant,50018552
2417,5c682d084f8f574fb5e14fd5,"{'building': '6022', 'coord': {'type': 'Point'...",Brooklyn,Chinese,"[{'date': 2015-01-20 00:00:00, 'grade': 'Not Y...",New Star Seafood Restaurant,50018622

In [49]:
df2.groupby("borough").sum()

,cuisine,grades,name,restaurant_id
borough,,,,
Bronx,"BakeryAmerican Ice Cream, Gelato, Yogurt, Ices...","[{'date': 2014-03-03 00:00:00, 'grade': 'A', '...",Morris Park Bake ShopWild AsiaCarvel Ice Cream...,3007544540357217403630934036328940364296403643...

In [50]:
df3.groupby("borough").sum()

,cuisine,grades,name,restaurant_id
borough,,,,
Bronx,ChineseChineseChineseChineseChineseChineseChin...,"[{'date': 2013-12-30 00:00:00, 'grade': 'A', '...",Happy GardenHappy GardenChina Wok IiDragon Cit...,4036328940364296405103284052920340551996405522...
Brooklyn,ChineseChineseChineseChineseChineseChineseChin...,"[{'date': 2014-09-16 00:00:00, 'grade': 'B', '...",May May KitchenGolden PavillionLee'S Villa Chi...,4035842940363920403883864039065340391528403931...
Manhattan,ChineseChineseChineseChineseChineseChineseChin...,"[{'date': 2014-07-28 00:00:00, 'grade': 'B', '...",Hop Kee RestaurantShun Lee Palace RestaurantSh...,4036594240366716403739374037612140382877403862...
Missing,ChineseChineseChineseChineseChineseChinese,"[{'date': 2014-05-30 00:00:00, 'grade': 'A', '...",Unique BakeryNew Win Hing IncLoong Xin Asian C...,500034925000371950004484500046845000534150006223
Queens,ChineseChineseChineseChineseChineseChineseChin...,"[{'date': 2014-04-21 00:00:00, 'grade': 'A', '...",Ho Mei RestaurantKing Yum RestaurantJardin De ...,4036243240365592403665434038926640391498403927...
Staten Island,ChineseChineseChineseChineseChineseChineseChin...,"[{'date': 2014-12-11 00:00:00, 'grade': 'A', '...",Chen'S ChineseIsland TasteMaster WokHappy Fort...,4037283140394383403943944040109440536227405534...

In [51]:
df3.groupby(["borough", "name"]).sum()

                                                                      cuisine  \
borough       name
Bronx         19A Empire Restaurant                                   Chinese
              2432 Peking House Inc                                   Chinese
              2647 Double Dragon Chinese Restaurant                   Chinese
              Best Chinese Restaurant                                 Chinese
              Best King Wah Chinese Restaurant                        Chinese
              Boe Sun Restaurant                                      Chinese
              Boston Road China                                       Chinese
              Bright Star Chinese Food                                Chinese
              Broadway Chinese Kitchen                                Chinese
              Brother'S Restaurant                                    Chinese
              Century Chinese Restaurant                              Chinese
              Chai Hwa Restaurant                                     Chinese
              Chan'S Village                                          Chinese
              Chef King Chinese Restaurant                            Chinese
              Chen Ji B.B.Q Restaurant                                Chinese
              Chen'S Foo Hai                                          Chinese
              Chen'S Garden                                           Chinese
              Chen'S Kitchen                                          Chinese
              China 8 Restaurant Inc                                  Chinese
              China City                                              Chinese
              China Dragon City                                       Chinese
              China Garden                                            Chinese
              China House                                             Chinese
              China House Restaurant                                  Chinese
              China King                                       ChineseChinese
              China King Ogden Restaurant                             Chinese
              China King Restaurant                                   Chinese
              China Kitchen                                           Chinese
              China Mia Exotic Asian Food, Yogurt & Juice Bar         Chinese
              China One                                               Chinese
...                                                                       ...
Staten Island New China Buffet                                        Chinese
              New China Garden Restaurant                             Chinese
              New Choi Hee Chinese                                    Chinese
              New Everybody'S Kitchen                                 Chinese
              New Garden Restaurant                                   Chinese
              New Great China Restaurant                              Chinese
              New Island                                              Chinese
              New Island Garden                                       Chinese
              New Phoenix                                             Chinese
              New Phoenix Palace                                      Chinese
              New Taste Of China                                      Chinese
              New Win Hing Iii Chinese Restaurant                     Chinese
              New Yung Hong                                           Chinese
              No. 1 Chinese Kitchen                                   Chinese
              No. 1 Kitchen                                           Chinese
              Oriental Plaza                                          Chinese
              Pacific Kitchen                                         Chinese
              Panda Garden                                            Chinese
              Peking Kitchen Chinese Cuisine                          Chinese
              Peking Taste                                            Chinese
              Red Ginger                                              Chinese
              S. I. Panda Garden                                      Chinese
              Sunny Palace                                            Chinese
              Tack'S Chinese Take Out                                 Chinese
              Tasty Kingdom Inc                                       Chinese
              Twin Dragons Asian Cuisine                              Chinese
              W.H Panda Garden                                        Chinese
              Wang Jiang Restaurant                                   Chinese
              Yum Yum Chinese Restaurant                              Chinese
              Yummy Yummy Gurmet Inc                                  Chinese

                                                                                                          grades  \
borough       name
Bronx         19A Empire Restaurant                            [{'date': 2014-07-15 00:00:00, 'grade': 'A', '...
              2432 Peking House Inc                            [{'date': 2014-06-02 00:00:00, 'grade': 'A', '...
              2647 Double Dragon Chinese Restaurant            [{'date': 2014-09-08 00:00:00, 'grade': 'A', '...
              Best Chinese Restaurant                          [{'date': 2014-12-03 00:00:00, 'grade': 'A', '...
              Best King Wah Chinese Restaurant                 [{'date': 2014-04-02 00:00:00, 'grade': 'A', '...
              Boe Sun Restaurant                               [{'date': 2014-07-09 00:00:00, 'grade': 'A', '...
              Boston Road China                                [{'date': 2014-03-26 00:00:00, 'grade': 'A', '...
              Bright Star Chinese Food                         [{'date': 2014-01-02 00:00:00, 'grade': 'A', '...
              Broadway Chinese Kitchen                         [{'date': 2014-08-27 00:00:00, 'grade': 'A', '...
              Brother'S Restaurant                             [{'date': 2014-11-18 00:00:00, 'grade': 'A', '...
              Century Chinese Restaurant                       [{'date': 2014-12-02 00:00:00, 'grade': 'A', '...
              Chai Hwa Restaurant                              [{'date': 2014-10-06 00:00:00, 'grade': 'A', '...
              Chan'S Village                                   [{'date': 2014-11-12 00:00:00, 'grade': 'A', '...
              Chef King Chinese Restaurant                     [{'date': 2014-10-28 00:00:00, 'grade': 'A', '...
              Chen Ji B.B.Q Restaurant                         [{'date': 2014-10-08 00:00:00, 'grade': 'A', '...
              Chen'S Foo Hai                                   [{'date': 2014-07-15 00:00:00, 'grade': 'A', '...
              Chen'S Garden                                    [{'date': 2014-12-13 00:00:00, 'grade': 'A', '...
              Chen'S Kitchen                                   [{'date': 2014-12-29 00:00:00, 'grade': 'Z', '...
              China 8 Restaurant Inc                           [{'date': 2014-06-28 00:00:00, 'grade': 'A', '...
              China City                                       [{'date': 2014-09-15 00:00:00, 'grade': 'A', '...
              China Dragon City                                [{'date': 2015-01-14 00:00:00, 'grade': 'Z', '...
              China Garden                                     [{'date': 2014-09-08 00:00:00, 'grade': 'A', '...
              China House                                      [{'date': 2014-08-14 00:00:00, 'grade': 'A', '...
              China House Restaurant                           [{'date': 2014-09-10 00:00:00, 'grade': 'A', '...
              China King                                       [{'date': 2014-09-16 00:00:00, 'grade': 'A', '...
              China King Ogden Restaurant                      [{'date': 2014-05-28 00:00:00, 'grade': 'A', '...
              China King Restaurant                            [{'date': 2014-05-13 00:00:00, 'grade': 'A', '...
              China Kitchen                                    [{'date': 2014-09-24 00:00:00, 'grade': 'A', '...
              China Mia Exotic Asian Food, Yogurt & Juice Bar  [{'date': 2015-01-13 00:00:00, 'grade': 'A', '...
              China One                                        [{'date': 2014-10-08 00:00:00, 'grade': 'A', '...
...                                                                                                          ...
Staten Island New China Buffet                                 [{'date': 2014-11-10 00:00:00, 'grade': 'A', '...
              New China Garden Restaurant                      [{'date': 2014-10-02 00:00:00, 'grade': 'A', '...
              New Choi Hee Chinese                             [{'date': 2014-07-23 00:00:00, 'grade': 'A', '...
              New Everybody'S Kitchen                          [{'date': 2014-04-28 00:00:00, 'grade': 'A', '...
              New Garden Restaurant                            [{'date': 2014-08-21 00:00:00, 'grade': 'B', '...
              New Great China Restaurant                       [{'date': 2014-10-29 00:00:00, 'grade': 'A', '...
              New Island                                       [{'date': 2014-10-30 00:00:00, 'grade': 'A', '...
              New Island Garden                                [{'date': 2014-11-19 00:00:00, 'grade': 'A', '...
              New Phoenix                                      [{'date': 2014-12-22 00:00:00, 'grade': 'A', '...
              New Phoenix Palace                               [{'date': 2014-08-19 00:00:00, 'grade': 'B', '...
              New Taste Of China                               [{'date': 2015-01-13 00:00:00, 'grade': 'A', '...
              New Win Hing Iii Chinese Restaurant              [{'date': 2014-12-02 00:00:00, 'grade': 'A', '...
              New Yung Hong                                    [{'date': 2014-12-08 00:00:00, 'grade': 'A', '...
              No. 1 Chinese Kitchen                            [{'date': 2014-07-09 00:00:00, 'grade': 'B', '...
              No. 1 Kitchen                                    [{'date': 2014-05-17 00:00:00, 'grade': 'A', '...
              Oriental Plaza                                   [{'date': 2014-06-25 00:00:00, 'grade': 'B', '...
              Pacific Kitchen                                  [{'date': 2014-09-23 00:00:00, 'grade': 'A', '...
              Panda Garden                                     [{'date': 2014-09-11 00:00:00, 'grade': 'A', '...
              Peking Kitchen Chinese Cuisine                   [{'date': 2014-07-24 00:00:00, 'grade': 'B', '...
              Peking Taste                                     [{'date': 2015-01-12 00:00:00, 'grade': 'A', '...
              Red Ginger                                       [{'date': 2015-01-20 00:00:00, 'grade': 'Not Y...
              S. I. Panda Garden                               [{'date': 2014-08-18 00:00:00, 'grade': 'Z', '...
              Sunny Palace                                     [{'date': 2014-04-17 00:00:00, 'grade': 'A', '...
              Tack'S Chinese Take Out                          [{'date': 2014-06-03 00:00:00, 'grade': 'A', '...
              Tasty Kingdom Inc                                [{'date': 2014-10-18 00:00:00, 'grade': 'A', '...
              Twin Dragons Asian Cuisine                       [{'date': 2015-01-20 00:00:00, 'grade': 'Not Y...
              W.H Panda Garden                                 [{'date': 2014-11-19 00:00:00, 'grade': 'C', '...
              Wang Jiang Restaurant                            [{'date': 2014-08-20 00:00:00, 'grade': 'A', '...
              Yum Yum Chinese Restaurant                       [{'date': 2014-07-02 00:00:00, 'grade': 'A', '...
              Yummy Yummy Gurmet Inc                           [{'date': 2014-04-21 00:00:00, 'grade': 'A', '...

                                                                  restaurant_id
borough       name
Bronx         19A Empire Restaurant                                    41613016
              2432 Peking House Inc                                    50010420
              2647 Double Dragon Chinese Restaurant                    41421079
              Best Chinese Restaurant                                  41385639
              Best King Wah Chinese Restaurant                         41710448
              Boe Sun Restaurant                                       41488326
              Boston Road China                                        41598329
              Bright Star Chinese Food                                 40992677
              Broadway Chinese Kitchen                                 41618644
              Brother'S Restaurant                                     41633999
              Century Chinese Restaurant                               41484642
              Chai Hwa Restaurant                                      41598985
              Chan'S Village                                           41463780
              Chef King Chinese Restaurant                             41703703
              Chen Ji B.B.Q Restaurant                                 41700546
              Chen'S Foo Hai                                           41447979
              Chen'S Garden                                            41690830
              Chen'S Kitchen                                           50006521
              China 8 Restaurant Inc                                   50011330
              China City                                               41416234
              China Dragon City                                        50017821
              China Garden                                             50004812
              China House                                              41277792
              China House Restaurant                                   41385943
              China King                                       4163538750001168
              China King Ogden Restaurant                              41660271
              China King Restaurant                                    41505687
              China Kitchen                                            41681185
              China Mia Exotic Asian Food, Yogurt & Juice Bar          50005591
              China One                                                40948231
...                                                                         ...
Staten Island New China Buffet                                         41630917
              New China Garden Restaurant                              41694079
              New Choi Hee Chinese                                     41693538
              New Everybody'S Kitchen                                  41365330
              New Garden Restaurant                                    50000811
              New Great China Restaurant                               41402332
              New Island                                               50014447
              New Island Garden                                        41655454
              New Phoenix                                              41700602
              New Phoenix Palace                                       50009313
              New Taste Of China                                       41632612
              New Win Hing Iii Chinese Restaurant                      41237824
              New Yung Hong                                            41316716
              No. 1 Chinese Kitchen                                    41293635
              No. 1 Kitchen                                            41560032
              Oriental Plaza                                           41308249
              Pacific Kitchen                                          41490506
              Panda Garden                                             50014530
              Peking Kitchen Chinese Cuisine                           41542473
              Peking Taste                                             41682200
              Red Ginger                                               50009836
              S. I. Panda Garden                                       50010947
              Sunny Palace                                             50005035
              Tack'S Chinese Take Out                                  41153445
              Tasty Kingdom Inc                                        50016132
              Twin Dragons Asian Cuisine                               50014935
              W.H Panda Garden                                         50014668
              Wang Jiang Restaurant                                    50001132
              Yum Yum Chinese Restaurant                               50010027
              Yummy Yummy Gurmet Inc                                   50005384

[2277 rows x 3 columns]

In [53]:
import matplotlib.pyplot as plt
plt.close('all')

In [34]:
#plt.figure();
#df2["name"].plot()

In [35]:
#plt.pie(df2['name'], labels = {"A", "B", "C", "D", "E", "F", "G", "H", "I", "J"})

In [ ]:
import seaborn as sns
name = df2['name']
sns.countplot(y='_id', hue='name', data=df2, palette="Greens_d")

In [15]:
type(df2['name'][0])

str

In [16]:
df2.name.value_counts()

Subway                                     57
Kennedy Fried Chicken                      51
Mcdonald'S                                 42
Dunkin Donuts                              38
Dunkin' Donuts                             24
Little Caesars                             19
                                           16
Burger King                                15
Domino'S Pizza                             12
Popeyes Chicken & Biscuits                 12
Golden Krust Caribbean Bakery & Grill       9
Checkers                                    7
White Castle                                7
Carvel Ice Cream                            7
Crown Fried Chicken                         6
El Valle Restaurant                         6
Wendy'S                                     6
Jimbo'S Hamburger Palace                    5
Caridad Restaurant                          5
Applebee'S Neighborhood Grill & Bar         5
National Bakery                             4
Dunkin' Donuts, Baskin Robbins              4
Ihop                                        4
China Wok                                   4
Joe'S Pizza                                 4
Starbucks Coffee                            4
Dunkin Donuts Baskin Robbins                4
Dunkin Donuts & Baskin Robbins              4
Kennedy Fried Chicken & Pizza               4
Great Wall                                  4
                                           ..
Nicey Nice Jamaican Restaurant & Lounge     1
Carlos And Gabby'S Cantina Grill            1
Mi Viejo San Juan                           1
Triple 8 Restaurant                         1
Two Star Restaurant                         1
Dugout Lounge Inseat Pantry 3B              1
New Tien Lung Restaurant                    1
Fried Chicken & Pizza                       1
301 Cafe Juice And Smoothies                1
Salvatores Of Soho                          1
To Go Express                               1
Los Primos Seafood Market                   1
241St Cafe Restaurant                       1
Nana'S African Kitchen                      1
Bar Pelham                                  1
Hideout Tavern                              1
Ny Yankees Concessions (Jim Beam)           1
Food Hut Restaurant & Bakery                1
Villa Vasquez Bar & Restaurant              1
Tosca Cafe                                  1
Riconcito                                   1
Mexicozina                                  1
Panera Bread                                1
Albert'S Coffee Shop                        1
Emergency Snack Bar                         1
Taco Veloz Vip                              1
Gerbasi Ristorante                          1
Muscle Maker Grill                          1
La Espiga Mexican Restaurant                1
Taqueria Tlaxcalli                          1
Name: name, Length: 1904, dtype: int64

In [ ]:
plt.figure(figsize=(16,6))
ax = sns.countplot(x='Neighbourhood', data=dataset, order=neighborhood)
ax.set_xticklabels(ax.get_xticklabels(), rotation=40, ha="right", fontsize=8)
plt.title('Distribution of appointments per neighborhood', fontsize=14, fontweight='bold')
plt.show()

In [21]:
df3.borough.value_counts()

Brooklyn         763
Queens           728
Manhattan        510
Bronx            323
Staten Island     88
Missing            6
Name: borough, dtype: int64

In [23]:
df2["name"].describe()

count       2338
unique      1904
top       Subway
freq          57
Name: name, dtype: object

In [24]:

df2["borough"].describe()

count      2338
unique        1
top       Bronx
freq       2338
Name: borough, dtype: object

In [37]:
my_tab = pd.crosstab(index = df3["borough"],columns="count") 
my_tab

col_0          count
borough
Bronx            323
Brooklyn         763
Manhattan        510
Missing            6
Queens           728
Staten Island     88

In [39]:
df2[df2['name'].isin(['Subway'])]

,_id,address,borough,cuisine,grades,name,restaurant_id
276,5c682d084f8f574fb5e0fb0f,"{'building': '3422', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-11-24 00:00:00, 'grade': 'C', '...",Subway,40862204
386,5c682d084f8f574fb5e10088,"{'building': '311', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-10-29 00:00:00, 'grade': 'Z', '...",Subway,41038490
442,5c682d084f8f574fb5e10343,"{'building': '2958', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-04-04 00:00:00, 'grade': 'A', '...",Subway,41114743
457,5c682d084f8f574fb5e103c3,"{'building': '4006', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-06-27 00:00:00, 'grade': 'A', '...",Subway,41130629
472,5c682d084f8f574fb5e1047d,"{'building': '2451', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-10-15 00:00:00, 'grade': 'B', '...",Subway,41149695
520,5c682d084f8f574fb5e106d0,"{'building': '3714', 'coord': {'type': 'Point'...",Bronx,American,"[{'date': 2014-02-04 00:00:00, 'grade': 'A', '...",Subway,41200749
568,5c682d084f8f574fb5e1087e,"{'building': '961', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-05-02 00:00:00, 'grade': 'A', '...",Subway,41235890
587,5c682d084f8f574fb5e1094f,"{'building': '38', 'coord': {'type': 'Point', ...",Bronx,Sandwiches,"[{'date': 2014-03-31 00:00:00, 'grade': 'A', '...",Subway,41247539
595,5c682d084f8f574fb5e109a8,"{'building': '5209', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-03-28 00:00:00, 'grade': 'A', '...",Subway,41253765
599,5c682d084f8f574fb5e109ea,"{'building': '968', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-03-18 00:00:00, 'grade': 'A', '...",Subway,41258837
647,5c682d084f8f574fb5e10bbe,"{'building': '55', 'coord': {'type': 'Point', ...",Bronx,Sandwiches,"[{'date': 2014-08-15 00:00:00, 'grade': 'A', '...",Subway,41291758
655,5c682d084f8f574fb5e10bea,"{'building': '3460', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-05-02 00:00:00, 'grade': 'A', '...",Subway,41294306
749,5c682d084f8f574fb5e10f76,"{'building': '2703', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-08-20 00:00:00, 'grade': 'A', '...",Subway,41351748
756,5c682d084f8f574fb5e10fcd,"{'building': '3044', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-12-26 00:00:00, 'grade': 'A', '...",Subway,41359128
767,5c682d084f8f574fb5e11059,"{'building': '1646', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-03-20 00:00:00, 'grade': 'A', '...",Subway,41367337
781,5c682d084f8f574fb5e110a2,"{'building': '2432', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-11-06 00:00:00, 'grade': 'A', '...",Subway,41371684
802,5c682d084f8f574fb5e111a5,"{'building': '423', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-10-08 00:00:00, 'grade': 'A', '...",Subway,41382991
878,5c682d084f8f574fb5e1134b,"{'building': '74', 'coord': {'type': 'Point', ...",Bronx,Sandwiches,"[{'date': 2014-05-13 00:00:00, 'grade': 'A', '...",Subway,41399217
887,5c682d084f8f574fb5e11379,"{'building': '2515', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-02-13 00:00:00, 'grade': 'A', '...",Subway,41401433
910,5c682d084f8f574fb5e11420,"{'building': '4375', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-10-21 00:00:00, 'grade': 'A', '...",Subway,41410764
1037,5c682d084f8f574fb5e11987,"{'building': '1490', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-05-19 00:00:00, 'grade': 'A', '...",Subway,41478014
1057,5c682d084f8f574fb5e11a59,"{'building': '5670', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-01-30 00:00:00, 'grade': 'A', '...",Subway,41487020
1073,5c682d084f8f574fb5e11b0e,"{'building': '1024', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-01-28 00:00:00, 'grade': 'A', '...",Subway,41495866
1076,5c682d084f8f574fb5e11b42,"{'building': '316', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-03-07 00:00:00, 'grade': 'A', '...",Subway,41498784
1079,5c682d084f8f574fb5e11b47,"{'building': '1720', 'coord': {'type': 'Point'...",Bronx,Sandwiches/Salads/Mixed Buffet,"[{'date': 2014-06-02 00:00:00, 'grade': 'A', '...",Subway,41499766
1110,5c682d084f8f574fb5e11cd0,"{'building': '91', 'coord': {'type': 'Point', ...",Bronx,American,"[{'date': 2014-03-19 00:00:00, 'grade': 'A', '...",Subway,41523199
1116,5c682d084f8f574fb5e11d0b,"{'building': '560', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-03-18 00:00:00, 'grade': 'A', '...",Subway,41527285
1121,5c682d084f8f574fb5e11d5b,"{'building': '837', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-07-31 00:00:00, 'grade': 'A', '...",Subway,41531166
1131,5c682d084f8f574fb5e11d9e,"{'building': '980', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-10-09 00:00:00, 'grade': 'A', '...",Subway,41534701
1140,5c682d084f8f574fb5e11de5,"{'building': '610', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-09-24 00:00:00, 'grade': 'A', '...",Subway,41539016
1246,5c682d084f8f574fb5e121f7,"{'building': '2867', 'coord': {'type': 'Point'...",Bronx,American,"[{'date': 2014-07-11 00:00:00, 'grade': 'A', '...",Subway,41580276
1290,5c682d084f8f574fb5e12391,"{'building': '747', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-12-10 00:00:00, 'grade': 'Z', '...",Subway,41596825
1315,5c682d084f8f574fb5e12492,"{'building': '2438', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-08-28 00:00:00, 'grade': 'B', '...",Subway,41606800
1325,5c682d084f8f574fb5e124d6,"{'building': '2383', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-03-18 00:00:00, 'grade': 'A', '...",Subway,41609223
1385,5c682d084f8f574fb5e12712,"{'building': '3683', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-06-18 00:00:00, 'grade': 'A', '...",Subway,41627341
1404,5c682d084f8f574fb5e12879,"{'building': '2173', 'coord': {'type': 'Point'...",Bronx,Soups & Sandwiches,"[{'date': 2015-01-13 00:00:00, 'grade': 'A', '...",Subway,41635314
1429,5c682d084f8f574fb5e1294f,"{'building': '430', 'coord': {'type': 'Point',...",Bronx,Sandwiches/Salads/Mixed Buffet,"[{'date': 2014-03-03 00:00:00, 'grade': 'A', '...",Subway,41640957
1447,5c682d084f8f574fb5e12a1d,"{'building': '1957', 'coord': {'type': 'Point'...",Bronx,American,"[{'date': 2014-04-08 00:00:00, 'grade': 'A', '...",Subway,41645910
1466,5c682d084f8f574fb5e12af9,"{'building': '2052', 'coord': {'type': 'Point'...",Bronx,American,"[{'date': 2014-10-20 00:00:00, 'grade': 'A', '...",Subway,41651524
1540,5c682d084f8f574fb5e12deb,"{'building': '2026', 'coord': {'type': 'Point'...",Bronx,American,"[{'date': 2014-12-01 00:00:00, 'grade': 'A', '...",Subway,41678309
1558,5c682d084f8f574fb5e12e9a,"{'building': '1749', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-06-18 00:00:00, 'grade': 'A', '...",Subway,41683759
1708,5c682d084f8f574fb5e13622,"{'building': '1448', 'coord': {'type': 'Point'...",Bronx,Sandwiches/Salads/Mixed Buffet,"[{'date': 2014-12-05 00:00:00, 'grade': 'A', '...",Subway,50000047
1713,5c682d084f8f574fb5e13666,"{'building': '1355', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-11-14 00:00:00, 'grade': 'Z', '...",Subway,50000155
1722,5c682d084f8f574fb5e136c1,"{'building': '5987', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-06-11 00:00:00, 'grade': 'A', '...",Subway,50000302
1806,5c682d084f8f574fb5e13a4d,"{'building': '18', 'coord': {'type': 'Point', ...",Bronx,Sandwiches/Salads/Mixed Buffet,"[{'date': 2014-08-14 00:00:00, 'grade': 'A', '...",Subway,50001909
1972,5c682d084f8f574fb5e1418e,"{'building': '2044', 'coord': {'type': 'Point'...",Bronx,Sandwiches/Salads/Mixed Buffet,"[{'date': 2014-11-06 00:00:00, 'grade': 'A', '...",Subway,50006777
1984,5c682d084f8f574fb5e14234,"{'building': '3209', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-04-02 00:00:00, 'grade': 'A', '...",Subway,50007476
2011,5c682d084f8f574fb5e142f1,"{'building': '597', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2015-01-02 00:00:00, 'grade': 'A', '...",Subway,50008223
2022,5c682d084f8f574fb5e14378,"{'building': '440', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-09-02 00:00:00, 'grade': 'A', '...",Subway,50008665
2061,5c682d084f8f574fb5e14506,"{'building': '169', 'coord': {'type': 'Point',...",Bronx,Sandwiches/Salads/Mixed Buffet,"[{'date': 2015-01-08 00:00:00, 'grade': 'A', '...",Subway,50010120
2130,5c682d084f8f574fb5e1477e,"{'building': '221A', 'coord': {'type': 'Point'...",Bronx,Sandwiches/Salads/Mixed Buffet,"[{'date': 2014-08-12 00:00:00, 'grade': 'B', '...",Subway,50012306
2165,5c682d084f8f574fb5e148de,"{'building': '200', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-08-28 00:00:00, 'grade': 'A', '...",Subway,50013791
2176,5c682d084f8f574fb5e14936,"{'building': '3976', 'coord': {'type': 'Point'...",Bronx,Sandwiches/Salads/Mixed Buffet,"[{'date': 2014-10-09 00:00:00, 'grade': 'A', '...",Subway,50014100
2236,5c682d084f8f574fb5e14bbd,"{'building': '1047', 'coord': {'type': 'Point'...",Bronx,Sandwiches,"[{'date': 2014-12-03 00:00:00, 'grade': 'A', '...",Subway,50016091
2245,5c682d084f8f574fb5e14c32,"{'building': '2451B', 'coord': {'type': 'Point...",Bronx,Other,"[{'date': 2014-12-11 00:00:00, 'grade': 'A', '...",Subway,50016410
2251,5c682d084f8f574fb5e14c68,"{'building': '837', 'coord': {'type': 'Point',...",Bronx,Sandwiches,"[{'date': 2014-12-08 00:00:00, 'grade': 'A', '...",Subway,50016600
2337,5c682d084f8f574fb5e15056,"{'building': '2009', 'coord': {'type': 'Point'...",Bronx,Other,[],Subway,50018940